In [6]:
print ("Twinkle, winkle, ittle star")
print ("How I wonder what you are!")
print ("Up above the world so high")
print ("Lke the diamonds in the sky")
print ("Twinkle, Twinkle Little Star")
print ("how i wonder what you are")

Twinkle, winkle, ittle star
How I wonder what you are!
Up above the world so high
Lke the diamonds in the sky
Twinkle, Twinkle Little Star
how i wonder what you are

In [11]:
import platform;

print(platform.sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [12]:
from datetime import datetime
today = datetime.today()
print("Today's datetime:", today)

Today's datetime: 2019-11-05 01:35:52.375605

In [14]:
radius = float(input("radius = "))
area = 3.142*radius**2
print ("Area = " , area)

radius = 2
Area =  12.568

In [15]:

first_name = input("YOUR FIRST NAME : ")
last_name = input("YOUR LAST NAME : ")
print (first_name , last_name)

YOUR FIRST NAME : sheikh
YOUR LAST NAME : dawood
sheikh dawood

In [16]:
first_number = int(input("first number : "))
second_number = int(input("second number : "))
addition = first_number + second_number
print(addition)

first number : 2
second number : 2
4